.footer_container{
    background-color: black;
    width: 100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;

}
.footer_container_subcontainer1{
    width: 39rem;
    margin: 0.2rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color:white;

}
.footer_container_subcontainer1 span{
    height:1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 0.4rem;
}
.footer_container_subcontainer1 span:hover{
    color: brown;
}
.footer_container_subcontainer2{
    /* border:1px solid white; */
    width: 39rem;
    margin: 0.2rem;
    height: auto;
    color:white;
}