.header_container{
    width: 100%;
    position: fixed;
    z-index: 1;
    /* border: 1px solid red; */
    height: auto;

}
.navbarclass{
    background-color: rgba(255, 255, 255, 0.895) !important;
    color:black ;
    font-weight: bold;
}
.ulclass{
    display: flex;
    justify-content: end;
    padding-right: 1.5rem;
}
.ulclass li{
   color:black !important;
   font-weight: 600;
   margin:0.1rem;
   border-radius: 0.5rem;
   padding: 0;
   
}
.ulclass li :hover{
    border-bottom: 2px solid rgb(200, 3, 3);
   font-weight: 600;
   color:black !important;
}