.maincon3_container{
    background-color: antiquewhite;
    width: 100%;
    height:auto;
    margin: 0;
    display:flex;
    justify-content: space-around;
    padding:1rem;
    flex-wrap: wrap;
}
.maincon3_container_subcon1{
    text-align: left;
    width: 20rem;
}
.maincon3_container_subcon1 p{
    color: rgba(0, 0, 0, 0.676);
    margin: 0;
    padding: 0;
}
.maincon3_container_subcon2{
    width: 20rem;

}
.maincon3_container_subcon2_subcon1{
    display:flex;
    justify-content: left;
    padding-top: 1rem ;
    width: 100%;

}
.maincon3_icon1{
    border: 2px solid brown;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 0.6rem;
    color: brown;
    border-radius: 50%;
    cursor: pointer;
}
.maincon3_icon1:hover{
    background-color: brown;
    color: white;
}
.maincon3_icon2{
    border: 2px solid brown;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-right: 0.6rem;
    color: brown;
    border-radius: 50%;
    cursor: pointer;
}
.maincon3_icon2:hover{
    background-color: brown;
    color: white;
}
.maincon3_icon3{
    border: 2px solid brown;
    padding: 0.3rem;
    font-size: 1.5rem;
    margin-right: 0.6rem;
    color: brown;
    border-radius: 50%;
    cursor: pointer;
}
.maincon3_icon3:hover{
    background-color: brown;
    color: white;
}